<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundView</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <main>
        <section>
            <h2>Bienvenido a SoundView🎧</h2>
            <h3>Ingresa a tu cuenta de Spotify y mira tus Top artistas y tus canciones mas escuchadas</h3>
            <span>
                <img src="/img/spotify.png" alt="">
            </span>
            <button class="toHome">Login to Spotify</button>
        </section>
    </main>
    <script src="/js/login.js"></script>
</body>
</html>